@{

    Layout = "~/Views/Shared/Acceuil.cshtml";
}
@section test{

@model Domain.Entitee.Histo


<html>
<body>

    <div class="container">

        @using (Html.BeginForm("HistorisationAF", "Historisation", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="editor-label">
                <br />
                <div class="form-group">
                    <div style="color: Purple;">
                        @Html.Label("Select Pole")
                    </div>
                    <div class="editor-field">
                        @if (ViewData.ContainsKey("pole2"))
                        {
                            @Html.DropDownList("pole2", ViewData["pole2"] as List<SelectListItem>, new { @class = "form-control" })
                        }
                    </div>
                </div>
                <br />
                <div style="color: Purple;">
                    @Html.Label("Select Mission", new { style = "width:250px" })
                </div>
                <div class="editor-field">
                    @Html.DropDownList("mission2", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control"  })
                    @Html.ValidationMessageFor(t => t.mission, "", new { @class = "text-danger" })
                </div>
                <br />
                <div style="color: Purple;">
                    @Html.Label("NB_Dossiers", new { style = "width:250px" })
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(h => h.nbDossiersTr,new { @class = "form-control", Value="" })
                    @Html.ValidationMessageFor(t => t.nbDossiersTr, "", new { @class = "text-danger" })
                </div>
                <br />
                <button type="submit" class="btn btn-primary" value="submit">Enregistrer</button>
                <button type="reset" class="btn btn-default" value="annuler">Annuler</button>
                <br />
            </div>
        }
        </div>
            @ViewBag.msg2

           

                <script src="~/scripts/jquery-1.10.2.js" type="text/javascript"></script>
                <script src="~/scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
                <script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#pole2").change(function () {
            $("#mission2").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMission2")', // we are calling json method
                dataType: 'json',
                data: { id: $("#pole2").val() },
                success: function (mission2) {
                    // site contains the JSON formatted list
                    // of site passed from the controller
                    $.each(mission2, function (i, mission2) {
                        $("#mission2").append('<option value="' + mission2.Value + '">' + mission2.Text + '</option>');
                    }); // here we are adding option for Site
                },
                error: function (ex) {
                    alert('Failed to retrieve site.' + ex);
                }
            });
            return false;
        })
    });
                </script>

                <script type="text/javascript">
        $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#mission2").change(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMission2Value")',
                dataType: 'json',
                data: { id: $("#mission2").val()},

                }
           );
            return false;
        })
        });
                </script>

            




      
</body>
</html>
}